@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, "Segoe UI", Roboto, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #0f1115;
  color: #e5e7eb;
  font-family: var(--font-sans);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #2a2d36;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

textarea:focus,
input:focus {
  outline: none;
}
